prompt-toolkit==1.0.14
Pygments==2.7.4
PyInquirer==1.0.3
regex==2020.11.13
six==1.15.0
wcwidth==0.2.5
pip~=20.3.3
rich~=9.6.1
colorama~=0.4.4
commonmark~=0.9.1
marshmallow~=3.10.0
python-dotenv~=0.15.0
setuptools~=51.1.1
environs~=9.3.0